{{define "block"}}
            <div>
            
                <ul>
                    <li>Data : {{.Data}}</li>
                    <li>Block Hash : {{.Hash}}</li>
                    {{if .PrevHash}}
                    <li>Prev Block Hash : {{.PrevHash}}</li>
                    {{end}}
                </ul>
            </div>
{{end}}